.specialoffer-wrapper {
    max-width: 980px;
    min-height: auto;
    margin: 0 auto 35px auto;
    padding-top: 145px;

    .specialoffer-title {
        font-size: 60px;
        font-family: Novacondensed;
        width: 290px;
        height: 40px;
        position: relative;
        display: inline;
        letter-spacing: 5px;

        .specialofferheader {
            border-bottom: 2px solid black;
            width: 65%;
            position: absolute;
            left: 0;
            bottom: 0px;
        }
    }
}

@media (max-width: 980px) {

    .specialoffer-wrapper {
        margin-left: 20px;
    }
}