.tour1-button {
    max-width: 981px;
    margin: 0 auto 100px auto;

    button {
        width: 133px;
        height: 40px;
        background-color: #79ADDC;
        border-radius: 50px;
        text-align: center;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Gill;
        font-size: 15px;
        color: white;
        border: none;
    }
}