.client-info {
    max-width: 980px;
    min-height: auto;
    margin: 0 auto;

    .client1-info {
        max-width: 722px;
        height: 150px;
        display: flex;
        margin-bottom: 37px;

        .client1-image {
            width: 260px;
            height: 150px;
            background-image: url(../images/about-client-01.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 21px;
        }

        .client1-text {
            width: 385px;
            height: 102px;
            font-family: Gillitalic;
            font-size: 16px;
            letter-spacing: 1px;
        }

        .client1-name {
            width: 176px;
            height: 27px;
            font-family: Novacondensed;
            font-size: 20px;
            margin-top: 123px;
            letter-spacing: 3px;
            margin-left: -150px;
            color: #79ADDC;
        }
    }

    .client2-info {
        max-width: 722px;
        height: 150px;
        display: flex;
        margin-bottom: 179px;

        .client2-image {
            width: 260px;
            height: 150px;
            background-image: linear-gradient(rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1)), url(../images/about-client-02.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 21px;
        }

        .client2-text {
            width: 385px;
            height: 102px;
            font-family: Gillitalic;
            font-size: 16px;
            letter-spacing: 1px;
        }

        .client2-name {
            width: 176px;
            height: 27px;
            font-family: Novacondensed;
            font-size: 20px;
            margin-top: 123px;
            letter-spacing: 3px;
            margin-left: -150px;
            color: #79ADDC;
        }
    }
}

@media (max-width: 980px) {

    .client-info {
        margin-left: 20px;
        margin-right: 20px;

        .client1-info {
            margin-bottom: 50px;
        }

        .client2-info {
        }
    }
}